
<h2>You are an admin!! You can do the following things:</h2>

<h5><a href="/admin/addcategory">Add a category</a></h5>
<h5><a href="/admin/addproduct">Add a product</a></h5>
<br />
<br />
<a href="/admin/logout">Logout</a>


